{% extends "layout.html" %}

{% block body %}

<div class="row"><div class="col-md-8 col-md-offset-2">
<h1>Your keys</h1>
<p class="lead">Share your data with your workstations, your colleagues, and your applications.</p>

<p><span class="lead">Master api key: <code>{{key}}</code></span></p>
<p><span class="lead">Master secret key: <code>{{secret}}</code></span></p>

<ul id="mykeys">
{% for k in keys %}
<li name="{{k.key}}"><code>{{k.key}}</code>
  <button type="button" class="btn btn-default btn-xs btn_refresh"><i class="fa fa-refresh"></i> Regenerate</button>
  <button type="button" class="btn btn-default btn-xs btn_delete"><i class="fa fa-trash"></i> Delete</button>
  <br>Data IDs:
    {% for d in all_data %}
      {% if d in k.data_ids %}
        <input type="checkbox" name="{{d}}" checked> {{d}}
      {% else %}
        <input type="checkbox" name="{{d}}"> {{d}}
      {% endif %}
    {% endfor %}
    <button type="button" class="btn btn-default btn-xs btn_updatepermissions"><i class="fa fa-users"></i> Update permissions</button>
    <br><br>
</li>
{% endfor %}
</ul>

<button id="newkey" data-toggle="collapse" data-target="#ids_newkey" type="button" class="btn btn-link btn-xs"><i class="fa fa-space-shuttle"></i> Add a new key</button>
<div id="ids_newkey" class="collapse">
  Select permissions:
  {% for d in all_data %}
    <input type="checkbox" name="{{d}}"> {{d}}
  {% endfor %}
  <button id="addnewkey" type="button" class="btn btn-default btn-xs">Create</button>
</div>


</div></div>


<script>

var all_data = {{ all_data|safe }} //all data list, for adding new keys

function alertbox(alrt,msg){
  return '<div class="alert alert-dismissible alert-'+alrt+'">\
    <button class="close" data-dismiss="alert" aria-label="close">&times;</button>\
    '+msg+'</div>'
}

function displaykey(key, data_ids){
  first = '<li name="'+key+'"><code>'+key+'</code>\
  <button type="button" class="btn btn-default btn-xs btn_refresh"><i class="fa fa-refresh"></i> Regenerate</button>\
  <button type="button" class="btn btn-default btn-xs btn_delete"><i class="fa fa-trash"></i> Delete</button>\
  <br>Data IDs:'
  second = all_data.map(function(d){
    if( $.inArray(d, data_ids)>=0 ){
      return '<input type="checkbox" name="'+d+'" checked> '+d
    }else{
      return '<input type="checkbox" name="'+d+'"> '+d
    }
  })
  third = '<button type="button" class="btn btn-default btn-xs btn_updatepermissions"><i class="fa fa-users"></i> Update permissions</button></li><br>'
  return first + second.join(' ') + third
}

$(function(){
  $("#addnewkey").click(function(){
    var data_ids = [];
    $('#ids_newkey input:checked').each(function() {
        data_ids.push($(this).attr('name'));
    });
    dat = {}
    dat['data_ids'] = data_ids
    // console.log(dat)
    $.ajax({
      type: 'POST',
      url:'/_newkey',
      data: JSON.stringify(dat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){
        console.log("success")
        console.log(response)
        $("#mykeys").append(displaykey(response.key, response.data_ids)) // replace the whole thing...
        $("#alerts").append(alertbox('success','Added the key!'))
      },
      error: function(error){
        console.log(error);
      }
    });
    return false;
  })
});


$(function(){
  $(document).on('click', '.btn_updatepermissions', function() {
  // $(".btn_updatepermissions").click(function(){
    key = $(this).parents('li').attr('name')
    var data_ids = [];
    $('li[name='+key+'] input:checked').each(function() {
        data_ids.push($(this).attr('name'));
    });
    dat = {}
    dat['key'] = key
    dat['data_ids'] = data_ids
    console.log(dat)
    $.ajax({
      type: 'POST',
      url:'/_modkey',
      data: JSON.stringify(dat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){
        console.log("success")
        $("#alerts").append(alertbox('success','Updated the permissions!'))
      },
      error: function(error){
        console.log(error);
      }
    });
    return false;
  })
});


$(function(){
  $(document).on('click', '.btn_refresh', function() {
  // $(".btn_refresh").click(function(){
    key = $(this).parents('li').attr('name')
    //data_ids = checked data ids
    dat = {}
    dat['key'] = key
    console.log(dat)
    $.ajax({
      type: 'POST',
      url:'/_refkey',
      data: JSON.stringify(dat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){
        console.log(response)
        $('li[name='+key+']').find("code").text(response.key) // replace the key text...
        $('li[name='+key+']').attr('name', response.key) // replace the li name
        $("#alerts").append(alertbox('success','Replaced the key!'))
      },
      error: function(error){
        console.log(error);
      }
    });
    // return false;
  })
});


$(function(){
  $(document).on('click', '.btn_delete', function() {
  // $(".btn_delete").click(function(){
    key = $(this).parents('li').attr('name')
    dat = {}
    dat['key'] = key
    console.log(dat)
    $.ajax({
      type: 'POST',
      url:'/_delkey',
      data: JSON.stringify(dat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){
        console.log("success")
        $("li[name="+key+"]").remove()
        $("#alerts").append(alertbox('success','Deleted the key!'))
      },
      error: function(error){
        console.log(error);
      }
    });
    return false;
  })
});

</script>

{% endblock %}
