{% extends "layout.html" %}

{% block body %}

<div class="row"><div class="container 75%">

<h2>Your keys</h2>

<h3>Master keys</h3>
<p>Master api key: <code>{{key}}</code><br>
Master secret key: <code>{{secret}}</code></p>

<h3>Extra access keys</h3>
<ul id="mykeys">
{% if len(keys)>0 %}
  {% for k in keys %}
  <li name="{{k.key}}"><code>{{k.key}}</code>
    <a class="button small btn_refresh icon fa-refresh"> Regenerate</a>
    <a class="button small btn_delete icon fa-trash"> Delete</a>
    <br>Data IDs:<br>
      {% for d in all_data %}
        {% if d in k.data_ids %}
          <input type="checkbox" id="{{k.key+d}}" name="{{d}}" checked> <label for="{{k.key+d}}">{{d}}</label>
        {% else %}
          <input type="checkbox" id="{{k.key+d}}" name="{{d}}"> <label for="{{k.key+d}}">{{d}}</label>
        {% endif %}
      {% endfor %}
      <a class="button small btn_updatepermissions icon fa-users"> Update permissions</a>
      <br><br>
  </li>
  {% endfor %}
{% else %}
  <i>No extra keys created yet.</i>
{% endif %}
</ul>

<h3>Add a new key</h3>
<div id="ids_newkey">
{% if len(all_data)>0 %}
  Select permissions:
  {% for d in all_data %}
    <input type="checkbox" id="{{'newkey_'+d}}" name="{{d}}"> <label for="{{'newkey_'+d}}">{{d}}</label>
  {% endfor %}
  <a id="addnewkey" class="button small"><i class="fa fa-rocket"></i> Create</a>
{% endif %}
</div>


</div></div>


<script>

var all_data = {{ all_data|safe }} //all data list, for adding new keys

function alertbox(alrt,msg){
  return '<div class="alert alert-dismissible alert-'+alrt+'">\
    <button class="close" data-dismiss="alert" aria-label="close">&times;</button>\
    '+msg+'</div>'
}

function displaykey(key, data_ids){
  first = '<li name="'+key+'"><code>'+key+'</code>\
  <a class="button small btn_refresh icon fa-refresh"> Regenerate</a>\
  <a class="button small btn_delete icon fa-trash"> Delete</a>\
  <br>Data IDs:<br>'
  second = all_data.map(function(d){
    if( $.inArray(d, data_ids)>=0 ){
      return '<input type="checkbox" id="'+key+d+'" name="'+d+'" checked> <label for ="'+key+d+'">'+d+'</label>'
    }else{
      return '<input type="checkbox" id="'+key+d+'" name="'+d+'"> <label for ="'+key+d+'">'+d+'</label>'
    }
  })
  third = '<a class="button small btn_updatepermissions icon fa-users"> Update permissions</a><br><br></li>'
  return first + second.join(' ') + third
}

$(function(){
  $("#addnewkey").click(function(){
    var data_ids = [];
    $('#ids_newkey input:checked').each(function() {
        data_ids.push($(this).attr('name'));
    });
    dat = {}
    dat['data_ids'] = data_ids
    // console.log(dat)
    $.ajax({
      type: 'POST',
      url:'/_newkey',
      data: JSON.stringify(dat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){
        console.log("success")
        console.log(response)
        $("#mykeys").append(displaykey(response.key, response.data_ids)) // replace the whole thing...
        $("#alerts").append(alertbox('success','Added the key!'))
      },
      error: function(error){
        console.log(error);
      }
    });
    return false;
  })
});


$(function(){
  $(document).on('click', '.btn_updatepermissions', function() {
  // $(".btn_updatepermissions").click(function(){
    key = $(this).parents('li').attr('name')
    var data_ids = [];
    $('li[name='+key+'] input:checked').each(function() {
        data_ids.push($(this).attr('name'));
    });
    dat = {}
    dat['key'] = key
    dat['data_ids'] = data_ids
    console.log(dat)
    $.ajax({
      type: 'POST',
      url:'/_modkey',
      data: JSON.stringify(dat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){
        console.log("success")
        $("#alerts").append(alertbox('success','Updated the permissions!'))
      },
      error: function(error){
        console.log(error);
      }
    });
    return false;
  })
});


$(function(){
  $(document).on('click', '.btn_refresh', function() {
  // $(".btn_refresh").click(function(){
    key = $(this).parents('li').attr('name')
    //data_ids = checked data ids
    dat = {}
    dat['key'] = key
    console.log(dat)
    $.ajax({
      type: 'POST',
      url:'/_refkey',
      data: JSON.stringify(dat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){
        console.log(response)
        $('li[name='+key+']').find("code").text(response.key) // replace the key text...
        $('li[name='+key+']').attr('name', response.key) // replace the li name
        $("#alerts").append(alertbox('success','Replaced the key!'))
      },
      error: function(error){
        console.log(error);
      }
    });
    // return false;
  })
});


$(function(){
  $(document).on('click', '.btn_delete', function() {
  // $(".btn_delete").click(function(){
    key = $(this).parents('li').attr('name')
    dat = {}
    dat['key'] = key
    console.log(dat)
    $.ajax({
      type: 'POST',
      url:'/_delkey',
      data: JSON.stringify(dat),
      contentType: 'application/json;charset=UTF-8',
      success: function(response){
        console.log("success")
        $("li[name="+key+"]").remove()
        $("#alerts").append(alertbox('success','Deleted the key!'))
      },
      error: function(error){
        console.log(error);
      }
    });
    return false;
  })
});

</script>

{% endblock %}
