{% extends "layout.html" %}

{% block alert %}
<div class="alert alert-dismissible alert-info">
  <button class="close" data-dismiss="alert" aria-label="close">&times;</button>
  <p>Connect to your data with our powerful API.
  You can use our R package to query data from your database (including private data with an API key) and build your data into your existing workflow.
  You can also use the API framework to build your own powerful queries.
  Additional features include training documentation on:<ul>
    <li>integrating your data into your workflow</li>
    <li>using common analysis tools (tidyverse/PyData) with your data</li>
    <li>sharing your data and your scripts with colleagues</li>
  </ul>
  We are also developing features for you to connect your custom scripts and functions and do your data processing on the cloud.</p>
</div>
{% endblock %}

{% block body %}
<div class="row"><div class="col-md-12">
  <h1>Connect API</h1>
  <p class="lead">Our API allows you to query your data in multiple ways, making it easy to pull your data into your own analysis program or share with colleagues. All of the output are in JSON format.</p>

<div class="well">

<p><span class="lead">Projects</span><br>
  To get the list of projects and attributes for an account:<br>
<code>http://{account}.digitalbiome.io/api/v1/projects</code></p>

<p><span class="lead">Sites</span><br>
  To get all sites:<br>
<code>http://{account}.digitalbiome.io/api/v1/sites</code><br>
To get sites for a specific project:<br>
<code>http://{account}.digitalbiome.io/api/v1/sites/{project}</code></p>

<p><span class="lead">Data</span><br>
  To get data for a project, with optional filter parameters (sites, columns, start, end):<br>
<code>http://{account}.digitalbiome.io/api/v1/data/{project}?sites={site1,site2,...}&amp;columns={col1,col2,...}&amp;start={YYYY-mm-dd}&amp;end={YYYY-mm-dd}</code>
</p>
</div>

<p class="lead"><b>Try out some examples:</b></p>
<p><a href="http://demo.digitalbiome.io/api/v1/projects"><code>http://demo.digitalbiome.io/api/v1/projects</code></a></p>
<p><a href="http://demo.digitalbiome.io/api/v1/data/demo-project?sites=site1"><code>http://demo.digitalbiome.io/api/v1/data/demo-project?sites=site1</code></a></p>


</div></div>

<div class="row"><div class="col-md-6 col-md-offset-3">

</div></div>


{% endblock %}
